---
layout: page
classes: home
---

<header>
  <h1><a href="/">{{ site.title }}</a></h1>
  <p>
    I am a designer &amp; programmer specializing in data visualization.
  </p>
</header>

{% assign projects = site.projects | sort: 'order' | reverse %}

<nav>
  {% for project in projects %}
    {% if project.hidden != true %}
      <article>
        <a href="{{ project.url }}">
          {% capture thumbnail %}assets/img/{{ project.thumbnail }}{% endcapture %}
          <img src="{{ thumbnail | relative_url }}" alt="{{ project.title }}: {{ project.abstract }}">
          <h1>{{ project.title }}</h1>
        </a>
      </article>
    {% endif %}
  {% endfor %}
</nav>
