---
layout: page
classes: home
---

{% assign projects = site.projects | sort: 'order' | reverse %}

<nav>
  {% for project in projects %}
    {% if project.hidden != true %}
      <article>
        <h1><a href="{{ project.url }}">{{ project.title }}</a></h1>
        
        {% capture thumbnail %}assets/img/{{ project.thumbnail }}{% endcapture %}
        <a href="{{ project.url }}">
          <img src="{{ thumbnail | relative_url }}" alt="{{ project.title }}: {{ project.abstract }}">
        </a>
      </article>
    {% endif %}
  {% endfor %}
</nav>