<footer>
  <div>
    <address>
      <p>
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </p>
      <p class="twitter">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <a href="https://twitter.com/{{ site.twitter_username }}">{{ site.twitter_username }}</a>
      </p>
      <p class="github">
        <i class="fa fa-github" aria-hidden="true"></i>
        <a href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a>
      </p>
      <p>
        <i class="fa fa-globe" aria-hidden="true"></i>
        {{ site.location }}
      </p>
    </address>
    
    <p class="copyright">
      &copy; 2017&ndash;2018 Evan Sheehan
    </p>    
  </div>
</footer>
