{% assign projects = site.portfolio | sort: 'order' | reverse %}
{% assign delay = 500 %}
<nav class="tile-list">
  {% for project in projects %}

    {% if page.url != project.url %}
      <a href="{{ project.url }}" class="tile" style="background-color:#{{ project.color }}">
        <article class="project-tile fadeIn"
               style="animation-delay:{{ delay }}ms">
          {% capture thumbnail %}assets/img/{{ project.thumbnail }}{% endcapture %}
          <img src="{{ thumbnail | relative_url }}" alt="{{ project.title }}: {{ project.abstract }}">
          <div class="overlay">
            <h3 class="title">{{ project.title }}</h3>
            <small class="subtitle">{{ project.client }}</small>
            <p class="blurb">{{ project.abstract }}</p>
          </div>
        </article>
      </a>
      {% assign delay = delay | plus: 60 %}
    {% endif %}

  {% endfor %}
</nav>
