$body-font: "Chivo", sans-serif;
$header-font: "Montserrat", sans-serif;
$mono-font: "Space Mono", sans-serif;
$title-font: $mono-font;

$font-size: 16px;
$line-height: 24px / 16px;
$line-length: 66ch;

$sm-space: 8px;
$md-space: 16px;
$lg-space: 32px;
$xl-space: 64px;

$margin: $md-space;

$min-width: 280px;
$max-width: 1320px;

$lg-screen: $max-width + 2 * $margin;

$black: #222222;
$gray: #515151;
$orange: #E35D24;
