@keyframes fade
  from 
    opacity: 0
  to
    opacity: 1
  
.home
  & > *
    animation-delay: 500ms
    animation-duration: 1s
    animation-fill-mode: both
    animation-name: fade
    
  main
    animation-delay: 1.5s
    
  footer
    animation-delay: 2.5s
    