html
  box-sizing: border-box
  
*, *::after, *::before
  box-sizing: inherit

body
  margin: $margin
  max-width: $max-width

p,
dd,
.galleryItem h3
  margin: 0

h1
  margin: $lg-space 0 0 0

h2
  margin: $lg-space 0 $sm-space 0

h3
  margin: $md-space 0 0 0

  & + p
    margin-top: $sm-space

  & + ul
    margin-top: 0

h2 + h3
  margin-top: 0

header
  margin: $md-space 0 $lg-space 0

footer
  margin: $xl-space 0 $md-space 0

ul,
dl
  margin: $sm-space 0

p,
figure
  margin: 20px / $font-size * 1em 0

img + figcaption
  margin-top: $md-space

hr
  width: 56.3%
  margin: $xl-space auto

.blurb
  margin: 0 0 $lg-space 0

.gallery
  margin-right: -$md-space

.galleryItem
  margin: 0 $md-space $md-space 0
  min-width: $min-width - (2 * $md-space)
  max-width: 320px
  width: 30%

.btn
  margin: $md-space 0
  padding: $md-space $xl-space

.inline > *
  margin-left: $xl-space

.inline > *:first-child
  margin-left: 0

.skills
  li + li
    margin: 0

  li + li::before
    margin: 0 $sm-space

.siteNav .selected
  transform: rotate(-3deg)

@supports (display: grid)
  body
    margin: 0
    max-width: none

.gallery
  max-width: 100%

.galleryItem
  margin: 0
  max-width: none
  width: initial
