=sm-grid
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: $gutter
  
=md-grid
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-gap: $gutter
  
@media screen and (min-width: $sm-screen)
  .project-list
    +sm-grid