@supports (display: grid)
  .gallery,
  .grid
    display: grid

  .gallery
    grid-gap: ms(3)
    grid-template-columns: repeat(auto-fill, minmax(280px - ms(3), 1fr))

    & > *
      margin: 0

  @media (min-width: $md-size)
    body
      max-width: 100%

    .grid
      grid-gap: ms(3)
      grid-template-columns: 280px minmax(auto, $line-length) 1fr
      grid-template-rows: [top] min-content min-content [footer] 1fr [bottom]
      padding-top: $margin

      .left
        grid-column-start: 1

      .gridHeader,
      .main
        grid-row-start: top

      .gridFooter
        grid-row-start: footer

      .main
        grid-row-end: bottom
