* + *
  margin-top: $gutter
  
img
  margin: 0
  max-width: 100%
  
.project-list
  list-style: none
  padding: 0
  
  a
    color: $text-color
    text-decoration: none
    
  li
    position: relative
    
    &:hover,
    &:focus
      p
        opacity: 1
        
      img
        opacity: 0.3
    
  p
    opacity: 0
    position: absolute
    text-align: center
    top: 50%
    left: $gutter
    right: $gutter
    transition: opacity 200ms ease-in-out
    
  img
    transition: opacity 200ms ease-in-out
  
@media screen and (min-width: $sm-screen)
  body
    margin: auto
    max-width: 768px - $sm - $sm
    
  .project-abstract
    display: grid
    grid-gap: $gutter
    grid-template-columns: 50% 50%
    
  .cover
    order: 1
    
  .description
    order: 2
    
    h2
      border-top: 1px solid $text-color
