=list-unstyled
  padding-left: 0
  list-style: none

=list-item-inline
  display: inline

=list-comma-separated
  +list-unstyled
    
  li
    +list-item-inline
    &:not(:last-child)::after
      content: ","

ul, ol, dl
  margin: 0