nav
  margin-bottom: ms(3)
  
  ul
    +list-unstyled
    display: flex
    flex-direction: row
    justify-content: space-between
    
  a
    color: inherit
    
    &:visited
      color: inherit

  .active
    +bold