nav
  margin-bottom: ms(2)
  max-width: $sm-screen
  
  ul
    +list-unstyled
    
  li
    +list-item-inline
    margin-right: $gutter

  a
    color: inherit
    text-transform: uppercase
    letter-spacing: 0.1em
    text-decoration: none
    +bold
    
    &:visited
      color: inherit

  .active
    text-decoration: underline
