html
  box-sizing: border-box
  
*, *::after, *::before
  box-sizing: inherit

body
  margin: $md-space
  max-width: 1320px

p,
dd
  margin: 0

h1
  margin: $lg-space 0

h2
  margin: $lg-space 0 $sm-space 0

h3
  margin: $md-space 0 0 0

  & + p
    margin-top: $sm-space

  & + ul
    margin-top: 0

h2 + h3
  margin-top: 0

footer
  margin: $xl-space 0 $md-space 0

ul,
dl
  margin: $sm-space 0

p + p
  margin-top: 1.111em

.gallery
  margin-right: -$md-space

.galleryItem
  display: inline-block
  margin: 0 $md-space $md-space 0
  min-width: 280px - (2 * $md-space)
  max-width: 320px
  width: 30%

.metadata,
.projectTitle
  display: block

.btn
  border: 1px solid $text-color
  margin: $md-space 0
  padding: $md-space $xl-space

.siteNav a
  display: inline-block
  margin-left: $xl-space

.skills
  li + li
    margin: 0

  li + li::before
    margin: 0 $sm-space

