html
  box-sizing: border-box
  
*, *::after, *::before
  box-sizing: inherit

p,
h1,
h2,
h3
  margin: 0

h2
  margin: $xl-space 0 $sm-space 0

ul,
dl
  margin: $sm-space 0

dd
  margin: 0 0 $lg-space 0

p + p
  margin-top: 1.111em

.title,
.employment-dates
  display: inline-block
  margin-bottom: $sm-space
