html
  box-sizing: border-box
  
*, *::after, *::before
  box-sizing: inherit

p,
h1
  margin: 0

h2
  margin: $lg-space 0 $sm-space 0

h3
  margin: $md-space 0 0 0

  & + p
    margin-top: $sm-space

  & + ul
    margin-top: 0

h2 + h3
  margin-top: 0

ul,
dl
  margin: $sm-space 0

p + p
  margin-top: 1.111em

.skills
  li + li
    margin: 0

  li + li::before
    margin: 0 $sm-space
