=bold
  font-family: $sans-serif
  font-weight: 700
  
=italic
  font-family: $serif
  font-style: italic

html
  font-size: 100%
  
body
  color: $text-color
  font-family: $sans-serif
  font-weight: 400
  font-size: $font-size
  line-height: $line-height
  margin: 0
  
h1
  +bold
  font-size: ms(1)
  
h2
  +bold
  font-size: ms(1)
  
h3
  font-size: ms(0)
  
p
  font-size: ms(0)
  
a
  color: $link-color
  transition: color 150ms linear
  
  &:hover,
  &:focus,
  &:active
    color: $primary-color
    
  &:visited
    color: darken($link-color, 30%)
  
p, dl, h1, h2, h3, aside
  line-height: $line-height
  margin-bottom: 0

p + p
  margin-top: ms(-1)
  
h1 + p
  margin-top: ms(-1)

dt
  font-size: ms(-1)
  line-height: ms(0)
  margin: 0
  text-transform: uppercase
  
dd
  margin: 0
  
address
  font-style: normal
  
::selection
  background-color: $selection-color
  
::-moz-selection
  background-color: $selection-color
  
.abstract
  +italic
  font-size: ms(1)
  text-align: inherit
  
.project-list
  p
    +italic