=bold
  font-weight: 700

html
  font-size: 100%
  
body
  color: $text-color
  font-family: $sans-serif
  font-weight: 400
  font-size: $font-size
  line-height: $line-height
  margin: 0
  
h1
  font-size: ms(0)
  letter-spacing: 10%
  text-transform: uppercase
  
h2
  font-size: ms(0)
  font-weight: bold

  
p
  font-size: ms(0)
  margin: 0
  
a
  color: $link-color
  transition: color 150ms linear
  
  &:hover,
  &:focus,
  &:active
    color: $primary-color
    
  &:visited
    color: darken($link-color, 30%)
  
* + p
  margin-top: ms(-1)

dt
  font-size: ms(-1)
  line-height: ms(0)
  margin: 0
  text-transform: uppercase
  
dd
  margin: 0
  
address
  font-style: normal
  
::selection
  background-color: $selection-color
  
::-moz-selection
  background-color: $selection-color
  
.abstract
  font-size: ms(2)
  line-height: 1
  text-align: inherit