html
  font-size: $font-size
  
body
  color: $text-color
  font-family: $body-font
  font-weight: 400
  margin: 0 $gutter/2
  max-width: $md-screen

header
  h1
    max-width: 7em
      
footer
  padding-bottom: ms(1)  
  
hr
  border-style: solid
  border-width: ms(-4)
  color: inherit

h1
  font-family: $mono-font
  font-size: 20vw
  font-weight: bold
  line-height: 1
  margin-top: ms(1)
  margin-bottom: ms(1)
  
@media (min-width: 540.555px)
  h1
    font-size: ms(4)

h2
  font-family: $header-font
  font-size: ms(0)
  letter-spacing: 0.1em
  text-transform: uppercase
  margin-top: ms(2)
  margin-bottom: ms(1)
  max-width: $line-length
  
h3
  font-family: $mono-font
  font-size: ms(0)
  font-weight: bold
  margin-top: ms(1)
  margin-bottom: 0
  max-width: $line-length
  
h4
  font-family: $header-font
  color: $tertiary-color
  font-size: ms(0)
  font-style: italic
  line-height: 1
  margin: 0
  max-width: $line-length
  
p
  font-size: ms(0)
  margin: 0
  max-width: $line-length
  line-height: $line-height

* + p
  margin-top: ms(-1)
  
img
  max-width: 100%
  
a
  color: $link-color
  transition: color 150ms linear
  
  &:hover,
  &:focus,
  &:active
    color: $primary-color
    
  &:visited
    color: darken($link-color, 30%)
  
::selection
  background-color: $selection-color
  
::-moz-selection
  background-color: $selection-color
