$body-font: "Open Sans", sans-serif
$header-font: "Open Sans", sans-serif
$italic-font: "Merriweather", serif

$mobile-base: 14px
$base: 16px
$ratio: 1.414
  
$md: $base
$sm: $md / $ratio
$xs: $sm / $ratio
$lg: $md * $ratio
$xl: $lg * $ratio
$xxl: $xl * $ratio
$xxxl: $xxl * $ratio

$font-size: $md
$line-height: $ratio

$gutter: $sm

$primary-color: #ff7473
$secondary-color: #47b8e0
$tertiary-color: #ffc952
$text-color: #34314c

$link-color: $secondary-color
$selection-color: $tertiary-color

$sm-screen: 768px
$md-screen: 1024px
$lg-screen: 1200px