$sans-serif: "Alegreya Sans", sans-serif

$modularscale: (base: 1rem, ratio: 1.5)
$font-size: 1.125em

$line-height: ms(1)
$gutter: ms(-1)

$primary-color: #ff7473
$secondary-color: #47b8e0
$tertiary-color: #ffc952
$text-color: #222D42

$link-color: $secondary-color
$selection-color: $tertiary-color