$body-font: "Work Sans", sans-serif
$header-font: "Montserrat", sans-serif
$title-font: "Montserrat", sans-serif

$modularscale: (base: 14px, ratio: 1.333)

$margin: ms(-1)

$font-size: ms(0)
$line-height: 1.571
$line-length: 14px * 40

$text-color: #1C1C1C

$md-size: $margin + 280px + ms(3) + $line-length + $margin
