---
layout: page
title: Resume
classes: resume
---

<main>
  <section id="education">
    <h2>Education</h2>
    <ul class="plain">
      {% for ed in site.data.education %}
        <li>
          <span class="degree">{{ ed.degree }}</span> of
          <span class="field">{{ ed.field }}</span>
          <span class="school">{{ ed.school }}</span>
        </li>
      {% endfor %}
    </ul>
  </section>
  
  <section id="experience">
    <h2>Experience</h2>
    {% assign jobs = site.career | sort: "from" | reverse %}

    {% for job in jobs %}
      {% if job.exclude %}{% continue %}{% endif %}
      <h3>
        <span class="job-title">{{ job.title }}</span>
        <span class="metadata">
          {{ job.company }}
          &mdash;
          {{ job.from | split: "-" | first }}
          to
          {% if job.to %}{{ job.to | split: "-" | first }}{% else %}Present{% endif %}
        </span>
      </h3>
      {{ job.content }}
    {% endfor %}
  </section>
  
  <section id="skills">
    <h2>Skills</h2>
    
    {% for set in site.data.skills %}
      <h3>{{ set.category }}</h3>
      <ul class="skills {{ set.category | downcase }}">
        {% for skill in set.skills %}<li>{{ skill }}</li>{% endfor %}
      </ul>
    {% endfor %}
  </section>
</main>
