<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Work+Sans:300" rel="stylesheet">
    <link rel="stylesheet" href="{{ 'style.css' | relative_url }}">
    <title>{{ site.title }}{% if page.title %}: {{ page.title }}{% endif %}</title>
    <script src="https://use.fontawesome.com/16ccd9e889.js"></script>
  </head>
  
  <body class="{{ page.classes }}">
    
    {{ content }}
    
    <footer>
      <address>
        <p>
          <i class="fa fa-envelope" aria-hidden="true" title="Email address"></i>
          <span class="sr-only">Email:</span>
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </p>
        <p class="twitter">
          <i class="fa fa-twitter" aria-hidden="true" title="Twitter profile"></i>
          <span class="sr-only">Twitter:</span>
          <a href="https://twitter.com/{{ site.twitter_username }}">{{ site.twitter_username }}</a>
        </p>
        <p class="github">
          <i class="fa fa-github" aria-hidden="true" title="GitHub profile"></i>
          <span class="sr-only">GitHub:</span>
          <a href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a>
        </p>
        <p>
          <i class="fa fa-globe" aria-hidden="true" title="Address"></i>
          <span class="sr-only">Address:</span>
          {{ site.location }}
        </p>
      </address>
      
      <a href="/resume">Resume</a>
      
      <p class="copyright">
        &copy; 2017&ndash;2018 Evan Sheehan
      </p> 
    </footer>

  </body>
</html>
