---
layout: base
---
<header>
  {% assign toks = page.url | remove_first: "/" | split: "/" %}
  <a href="/" class="siteTitle">{{ site.title }}</a>
  <nav class="siteNav inline">
    <a href="/portfolio" {% if toks.first == "portfolio" %}class="selected" {% endif %}>portfolio</a>
    <a href="/about" {% if toks.first == "about" %}class="selected" {% endif %}>About</a>
  </nav>
</header>

{% if page.title %}<h1>{{ page.title }}</h1>{% endif %}

{{ content }}

<footer class="left gridFooter">
  <address>
    <dl class="inline">
      <div>
        <dt>
          City
        </dt>
        <dd>{{ site.location }}</dd>
      </div>

      <div>
        <dt>
          Email
        </dt>
        <dd>
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </dd>
      </div>

      <div>
        <dt>
          Twitter
        </dt>
        <dd>
          <a href="https://twitter.com/{{ site.twitter_username }}">{{ site.twitter_username }}</a>
        </dd>
      </div>

      <div>
        <dt>
          GitHub
        </dt>
        <dd>
          <a href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a>
        </dd>
      </div>

    </dl>
  </address>
  
  <p class="copyright">
    &copy; 2017&ndash;2018 Evan Sheehan
  </p> 
</footer>
