---
layout: page
---
{% if page.abstract %}<p class="blurb">{{ page.abstract }}</p>{% endif %}
<aside>
  <dl class="inline">
    {% if page.client %}
      <div>
        <dt>Client</dt>
        <dd>{{ page.client }}</dd>
      </div>
    {% endif %}
    {% if page.repo %}
      <div>
        <dt>Repository</dt>
        <dd><a href="{{ page.repo }}" target="_blank">{{ page.repo }}</a></dd>
      </div>
    {% endif %}
  </dl>

  <dl>
    {% if next %}
      <dt>Next</dt>
      <dd>
        <a href="{{ next.url }}">{{ next.title }}</a>
      </dd>
    {% endif %}
    {% if prev %}
      <dt>Previous</dt>
      <dd>
        <a href="{{ prev.url }}">{{ prev.title }}</a>
      </dd>
    {% endif %}
  </dl>
</aside>

{{ content }}

<hr />

{% include projects.html %}
