---
layout: page
---
{% if page.abstract %}<p class="blurb">{{ page.abstract }}</p>{% endif %}
<aside class="left">
  <dl>
    {% if page.client %}
      <dt>Client</dt>
      <dd>{{ page.client }}</dd>
    {% endif %}
    {% if page.repo %}
      <dt>Repository</dt>
      <dd><a href="{{ page.repo }}" target="_blank">{{ page.repo }}</a></dd>
    {% endif %}
  </dl>

  <dl>
    {% if next %}
      <dt>Next</dt>
      <dd>
        <a href="{{ next.url }}">{{ next.title }}</a>
      </dd>
    {% endif %}
    {% if prev %}
      <dt>Previous</dt>
      <dd>
        <a href="{{ prev.url }}">{{ prev.title }}</a>
      </dd>
    {% endif %}
  </dl>
</aside>

<article class="main">
  {{ content }}
</article>

{% include projects.html %}
